<div class="container">
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://clipartspub.com/images/film-reel-clipart-cartoon-5.png);">
    <div class="container">
      <h1>Add a new List</h1>
    </div>
  </div>
  <div class="form">
    <%= render 'form' %>
  </div>
</div>
