<div class="container">
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://alis.alberta.ca/media/697377/film-director-istock-512923221.jpg);">
    <div class="container">
      <h1>Create New Bookmark</h1>
    </div>
  </div>
  <div class="alert alert-info" role="alert">
    Please note that you will have to create a List first if you want to select it as part of this form
  </div>
  <div class="form">
    <%= render 'form' %>
  </div>
</div>
