<div class="footer">
  <div class="footer-links">
    <a href="https://github.com/topics/movies" target="_blank"><i class="fab fa-github"></i></a>
    <a href="https://www.instagram.com/movieshowtime/" target="_blank"><i class="fab fa-instagram"></i></a>
    <a href="https://www.facebook.com/watch/tv_movies/?_rdc=1&_rdr" target="_blank"><i class="fab fa-facebook"></i></a>
    <a href="https://www.youtube.com/feed/storefront?bp=ogUCKAI%3D" target="_blank"><i class="fa-brands fa-youtube"></i></a>
    <a href="https://www.imdb.com/" target="_blank"><i class="fa-brands fa-imdb"></i></a>
  </div>
  <div class="footer-copyright">
    This footer was made with <i class="fas fa-heart"></i> by Mulpy at Le Wagon
  </div>
</div>
