// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "form_legend_clear";
@import "navbar";
@import "card_trip";
@import "banner";
@import "card_category";
@import "cards";
@import "card_details";
@import "list";
@import "list_card";
@import "card_link";

a {
  text-decoration: none !important;
  vertical-align: center;
  color: white;
  transition: 0.4s;

  &:hover {
    color: gray;
  }
}
